html
  font-size font-base
  font-family font-lato
  
p
  padding 0.4em 0

a, .title, .subtitle
  color color-main-accent
  
.img-responsive
  max-width 100%

.wow
  visibility hidden

.zine
  display block

.banner img
  width: 100%