@media only screen and (min-width:320px)
  .xl
    font-size 2rem
  .lg
    font-size 1.5rem

@media only screen and (min-width:320px)  
  .modal-card, .modal-content
    margin 0
    max-height calc(100vh - 0)

@media only screen and (min-width:480px)
  .xl
    font-size 3.5rem
  .lg
    font-size 2.5rem

@media only screen and (min-width:768px)
  .xl
    font-size 5rem
  .lg
    font-size 3rem

@media only screen and (min-width:768px)  
  .modal-card, .modal-content
    margin 0 20px
    max-height calc(100vh - 160px)

@media only screen and (min-width:1024px)
  .xl
    font-size 5.5rem
  .lg
    font-size 4rem