.is-coil-theme
  background-color color-main
  color color-main-accent
  .navbar-item
    color color-main-accent
  a.navbar-item:hover, a.navbar-link:hover
    background-color rgba(0, 51, 51, 0.32)
    color #133433
    
.is-coil-theme-inverse
  background-color color-main-accent
  color color-main