.is-coil-theme
  background-color color-main
  color color-main-accent
  .navbar-item
    color color-main-accent
  a.navbar-item:hover, a.navbar-link:hover
    background-color rgba(0, 51, 51, 0.32)
    color color-aldo-accent
  #lang-select-label
  	color: color-main-accent   
    
.is-coil-theme-inverse
  background-color color-main-accent
  color color-main
  
.is-light-theme
  background-color color-light
  color color-light-accent
  .navbar-item
    color color-light-accent
  a.navbar-item:hover, a.navbar-link:hover
    background-color rgba(0, 51, 51, 0.32)
    color color-light-accent
  #lang-select-label
  	color: color-light-accent  
    
.is-light-theme-inverse
  background-color color-light-accent
  color color-light  