// @font-face
//   font-family 'Font-Name'
//   src url('/fonts/font-name.eot')
//   src url('/fonts/font-name.eot?#iefix') format('embedded-opentype'),
//      url('/fonts/font-name.woff') format('woff'),
//      url('/fonts/font-name.ttf') format('truetype'),
//   font-weight normal
//   font-style normal

@font-face
  font-family Sequel-XS
  src url("/fonts/sequel-45.otf") format("opentype")
  font-weight normal
  font-style normal

@font-face
  font-family Sequel-S
  src url("/fonts/sequel-55.otf") format("opentype")
  font-weight normal
  font-style normal

@font-face
  font-family Sequel-M
  src url("/fonts/sequel-65.otf") format("opentype")
  font-weight normal
  font-style normal

@font-face
  font-family Sequel-L
  src url("/fonts/sequel-75.otf") format("opentype")
  font-weight normal
  font-style normal

@font-face
  font-family Sequel-XL
  src url("/fonts/sequel-85.otf") format("opentype")
  font-weight normal
  font-style normal

@font-face
  font-family Sequel-XXL
  src url("/fonts/sequel-95.otf") format("opentype")
  font-weight normal
  font-style normal

.xl
  font-family font-xl
  letter-spacing 3px
  font-size 2.5rem

.lg
  font-family font-l
  letter-spacing 3px
  font-size 1.8rem

h1
  font-size: 3em
  margin-bottom: 15px

h2 
  font-size: 2.5em
  margin-bottom: 15px
    
h3 
  font-size: 2em
  margin-bottom: 15px
  
h4
  font-size: 1.5em
  margin-bottom: 15px