// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Monaco, Menlo, Consolas, monospace
font-xl = 'Sequel-XL', Helvetica, Arial, sans-serif
font-l = 'Sequel-L', Helvetica, Arial, sans-serif
font-lato = Lato, font-sans
font-base = 20px
line-height = 1.6em

// Colors
color-blue = #0033ff
color-aqua = #00d7ba
color-orange = #fea300
color-red = #ff3000
color-white = #ffffff
color-purple = #333399
color-teal = #009999
color-salmon = #ff7776
color-apple = #26e047
color-apple-accent = #003333 
color-aldo = #b0f316
color-aldo-accent = #1b4753

// Theme Colors
color-main = color-aldo
color-main-accent = color-aldo-accent

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"